pipeline/DemoPipeline.json
{
	"name": "DemoPipeline",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('FileNames')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Validation1",
							"type": "Validation",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_inputFolder",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								"timeout": "0.00:00:30",
								"sleep": 10
							}
						}
					]
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('FileNames')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_inputFolder",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_Output",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"abcd": {
				"type": "string"
			},
			"xyz": {
				"type": "string"
			}
		},
		"variables": {
			"FileNames": {
				"type": "Array",
				"defaultValue": [
					"employees.csv",
					"department.csv"
				]
			},
			"DataFactoryName": {
				"type": "String"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}